<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECO-P</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    <!-- Box Icons - iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

</head>

<body>
    <!-- Navbar-->
    <header>
        <a href="#" class="logo">
            <i class="bx bxs-movie"> </i>Reco-P
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <!-- Menu-->
        <ul class="navbar">
            <li><a href="#inicio" class="home-active">Inicio</a></li>
            <li><a href="#peliculas">Peliculas</a></li>

            <li><a href="#contacto">Contacto</a></li>
        </ul>
        <a href="#" class="btn">Resgistrarse</a>

    </header>
    <!-- Home -->
    <section class="home swiper" id="home">
        <div class="swiper-wrapper">
            
            <div class="swiper-slide conatiner">
                <img src="/static/img/spiderman.jpg" alt="">
                <div class="home-text">
                    <span>Marvel Universe</span>
                    <h1>Spiderman Regresa A Casa</h1>
                    <a href="#" class="btn">Ver Trailer</a>
                    <a href="#" class="play">
                        <i class='bx bx-play'></i>
                    </a>
                </div>
            </div>
            <!-- slide 2 -->

            <div class="swiper-slide conatiner">
                <img src="/static/img/panther.jpg" alt="">
                <div class="home-text">
                    <span>Marvel Universe</span>
                    <h1>Black A Casa</h1>
                    <a href="#" class="btn">Ver Trailer</a>
                    <a href="#" class="play">
                        <i class='bx bx-play'></i>
                    </a>
                </div>
            </div>
            <!-- slide 3 -->
            <div class="swiper-slide conatiner">
                <img src="/static/img/black.jpg" alt="">
                <div class="home-text">
                    <span>Marvel Universe</span>
                    <h1>Venom A Casa</h1>
                    <a href="#" class="btn">Ver Trailer</a>
                    <a href="#" class="play">
                        <i class='bx bx-play'></i>
                    </a>
                </div>
            </div>
            

        </div>
        <div class="swiper-pagination"></div>
    </section>

    <!-- Peliculas -->
    <section class="movies" id="movies">
        <h2 class="heanding">Tendencia del Mes</h2>
        <!-- Container Peliculas -->
        <div class="movies-container">
            {% for movie in movies %}
            <!-- Targeta 1 -->
            <div class="box">
                <div class="box-img">
                    <img src="{{url_img}}{{movie['poster_path']}}" alt="poster">
                </div>
                <h3>{{movie['original_title']}}</h3>
                <span>{{movie['release_date']}}</span>
            </div>
            {% endfor %}
        
        </div>
    </section>



    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- Js persolanizado-->
    <script src="/static/js/main.js"></script>
</body>





</html>